*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
VOCdevkit/
results/
voc.2012.test
yolo.weights
darknet

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
